body{
    
}

html,body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #cccccc;
}
div {   
    border: none     #000000 ;
}

html,body{
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #FFFFFF;
}
.card{
    width: 268px; ;
   height: 550px; ;
   background-color: #CCCCCC; 
   margin: 25px 50px;


}

.img-card{
    width: 265px; 
    height: 350px;
    margin-top: 50px; 
    
}
.descricao{
    font-size:  17px; 
    font-family: impact;
    font-weight: impact  ;  
    padding: 10px 10px ;
    color: #2c1e1e;
}
.preco{
    font-size: 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #11470a;
    font-weight: arial  ;
    padding: 10px 5px;
    background-color: #ffffff;
}
.pagamento{
    color: #b92a2a;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 5px 3px;
    font-size: 17px;
    background-color: #ffffff;
    font-size: 11px;
}
.button-card{
    background-color: #460f8f;
    color: #ffffff;
    font-weight: bold;
    width: 100%;    
    height: 25px;   
    font-size: 15px;
    text-align: center;
    border: 0;
}
.menu{
    background-color: #0036e9;
    color: #ffffff;
    border: 1px solid;
    display: flex;
    
}
.item-menu{
    list-style: none;
    padding: 10px 20px;
}
.item-menu:hover{
    background-color: #000000;
}
.link-menu{
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}
section{
    display: flex;
    flex-wrap: wrap;
    
}
